<nav class="navbar navbar-expand-lg navbar-light bg-light d-print-none" id="main-nav">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{{'https://unixwinbsd.site' | absolute_url }}">
    {% if site.logo %}
    <img class="me-3" src="{{ site.logo | relative_url }}" alt="{{ site.title }}" title="Logo UnixBSDShell">
    {% endif %} 
     
 <h1 class='py-0 mb-0 fw-bold text-primary' alt="{{ site.title }}" title="{{ site.title }}">{{site.title}}</h1> 
    </a>

    {% if page.navigation and site.data[page.navigation] %}
      {% assign navigation = site.data[page.navigation] %}
    {% elsif site.data.navigation %}
      {% assign navigation = site.data.navigation %}
    {% endif %}
    {% if navigation %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        Menu <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav ms-auto">
          {% for item in navigation %}
            {% if item.menu %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  {{ item.text }}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  {% for subitem in item.menu %}
                    {% if subitem.href %}
                      {% if subitem.text contains '' %}
                        {% assign subitem_text = subitem.text %}
                      {% else %}
                        {% assign subitem_text = site.pages | where: 'url', subitem.href | map: 'title' | first %}
                      {% endif %}
                      <a class="dropdown-item{% if subitem.href == page.url %} active{% endif %}" href="{{ subitem.href | relative_url }}"{% if subitem.new_window %} target="_blank"{% endif %}>{{ subitem_text }}</a>
                    {% elsif subitem.text contains '---' %}
                      <div class="dropdown-divider"></div>
                    {% else %}
                      <h6 class="dropdown-header">{{ subitem.text }}</h6>
                    {% endif %}
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="navbar-item">
                {% if item.text contains '' %}
                  {% assign item_text = item.text %}
                {% else %}
                  {% assign item_text = site.pages | where: 'url', item.href | map: 'title' | first %}
                {% endif %}
                <a class="nav-link{% if item.href == page.url %} active{% endif %}" href="{{ item.href | relative_url }}"{% if item.new_window %} target="_blank"{% endif %}>{{ item_text }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}




<!-- Topbar Search -->
 <form class="d-flex me-1 my-1" action="/search/" method="get">
 <div class='input-group'>
<input type="text" class="form-control" id="search-box" name="query" maxlength="255" value="" placeholder="Search via Lunr.js" />
<button class='btn btn-primary ml-2' data-bs-placement='bottom' data-bs-toggle='tooltip' title='search With Lunr JS' type='submit'>
<svg class='bi bi-search' fill='white' height='17' viewBox='0 0 17 17' width='17' xmlns='http://www.w3.org/2000/svg'>
<path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/>  </svg>     </button>            </div>
              </form>










  </div>
</nav>