---
layout: default
---

{%- if page.header.overlay_color or page.header.overlay_image or page.header.image -%}
  {%- include page__hero.html -%}
{%- endif -%}
{%- if page.url != "/" and site.breadcrumbs -%}
  {%- unless paginator -%}
    {%- include breadcrumbs.html -%}
  {%- endunless -%}
{%- endif -%}
<!--
<script async="async" data-cfasync="false" src="//timdinosaur.com/3b0016880fbf343a45521c6f096b8dc9/invoke.js"></script>
<div id="container-3b0016880fbf343a45521c6f096b8dc9"></div>  -->
<!-- CoinAd - Ad Display Code -->
<div id="adm-container-1742"></div><script data-cfasync="false" async type="text/javascript" src="//coinad.network/display/items.php?1742&564&970&90&4&0&0"></script>
<!-- CoinAd - Ad Display Code -->

<div id="main" role="main">
  {%- include sidebar.html -%}
  <div class="archive">
    {%- unless page.header.overlay_color or page.header.overlay_image -%}
      <h1 class="page__title">{{ page.title }}</h1>
    {%- endunless -%}
    {{ content }}
  </div>
</div>
