---
---
{%- include base_path -%}
{%- assign lang = page.lang | default: site.lang | default: "ru" -%}
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'ru' }}">
  <head>
    {% I18n_Headers %}
    {%- include head.html -%}
    {%- include head/custom.html -%}

<!-- <script type='text/javascript' src='//timdinosaur.com/5a/a1/16/5aa1163b15793d4f19e80dbdf2135e99.js'></script>   -->
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(95812963, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"dataLayer"
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/95812963" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- opendesktop   -->
<meta name="ocs-site-verification" content="9d36c511817c5af4dffe6ea912f1754c" />
    <!-- ads VPN   -->
    <meta name="7searchppc" content="e64296c6f0d644c855fb348705f78eb0"/>
  <meta http-equiv="Content-Language" content="{{site.active_lang}}">
<meta name="verified-code" content="7e9546f3-7a9d-4d82-b8b4-d8e51e2c6c17">
  {% if site.default_lang %}<link rel="alternate" hreflang="{{site.default_lang}}" href="{{site.url}}{{page.url}}" />{% endif %}
  {% for lang in site.languages %}{% if lang == site.default_lang %}{% continue %}{% endif %}
  <link rel="alternate" hreflang="{{lang}}" href="{{site.url}}/{{lang}}{{page.url}}" />
  {% endfor %}
<link rel="alternate" hreflang="en" href="https://penaadventure.com/en" />
<link rel="alternate" hreflang="ru" href="https://penaadventure.com/ru" />
<link rel="alternate" hreflang="de" href="https://penaadventure.com/de" />

  </head>
  <body class="layout--{{- page.layout | default: layout.layout -}}{%- if page.classes or layout.classes -%}{{- page.classes | default: layout.classes | join: ' ' | prepend: ' ' -}}{%- endif -%}">
    {%- include browser-upgrade.html -%}
    {%- include masthead.html -%}
    {{- content -}}
    <div class="page__footer">
      <footer>
        {%- include footer/custom.html -%}
        {%- include footer.html -%}
      </footer>
    </div>
    {%- include scripts.html -%}
  </body>
</html>
